#tituloPrincipal{
    color: green;
}
.formatoParrafo{
    font-family: 'Segoe UI';
    font-size: 15px;
    font-weight: bold;
    text-align: justify;
}
h1, p {
   background-color: aqua;
}
* {  font-style: italic;}